:root {
    --darkgrey: 102, 102, 102;
    --lightgrey: 149, 149, 149;
    --lightgrey-light: rgba(var(--lightgrey), 0.7);
    --selectedObjectColor: orange;
}

@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/PressStart2P-Regular.woff2') format('woff2'), url('fonts/PressStart2P-Regular.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

hidden,
.hidden {
    display: none;
}

body {
    background-color: rgb(var(--darkgrey));
    font-size: 12pt;
}

#daedos-wrapper {
    font-family: 'Press Start 2P';
    background-color: rgb(var(--darkgrey));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    width: fit-content;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#daedos-wrapper>* {
    align-self: center;
}

#fixed {
    position: relative;
    z-index: 9;
}

#daedos-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#daedos-wrapper * h2,
#daedos-wrapper * h3,
version,
copyright {
    font-family: 'Press Start 2P';
    padding: 10px;
}

#daedos-wrapper * h2 {
    margin: 0;
    text-shadow: 5px 5px rgb(var(--lightgrey));
    border-bottom: 5px solid rgb(var(--lightgrey));
    font-style: italic;
    color: white;
    font-size: 35pt;
    line-height: 1.3;
}

#daedos-wrapper * h2,
#daedos-wrapper * h3 {
    text-align: center;
}

h2#daedos-title {
    margin-bottom: 15px;
}

version {
    font-size: 12px;
    color: rgb(var(--lightgrey));
    padding: 0;
    margin: 0;
}

#daedos-wrapper * a,
copyright,
copyright a {
    color: rgb(var(--lightgrey));
    font-size: 16px;
}

#daedos-wrapper * a:hover {
    color: white;
}

canvas {
    border: 1px solid white;
    background: black;
    /* box-shadow: black 10px 10px; */
    margin: 20px auto 10px auto;
    display: flex;
    /* height: 100%; */
    width: 100%;
    max-width: 73vw;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.noWayOut {
    color: darkred;
    animation: blinker 5s infinite;
    box-shadow: 5px 5px darkred, -5px -5px darkred;
}


/*############## MENU ######################*/

#daedos-menu {
    border: 0;
    padding: 10px;
    transition: 180ms all ease-in-out;
    background-color: rgb(var(--lightgrey));
    opacity: .8;
    width: 340px;
    margin-bottom: 40px;
}

#daedos-menu h3 {
    color: white;
    font-size: 12pt;
    width: 100%;
    background-color: rgb(var(--darkgrey));
    margin-top: 0px;
    margin-bottom: auto;
    line-height: 1.5;
}

#daedos-menu:hover {
    opacity: 1;
}


/* #daedos-menu.showMenu {
    top: 210px;
    bottom: 20px;
} */

#console {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 30px;
}

#modifiers {
    display: grid;
    overflow: visible;
    grid-template-columns: 100%;
    grid-template-areas: "visible hidden hidden hidden";
}

#modifiers>div {
    width: 100%;
    visibility: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#modifiers>#selectObj {
    visibility: hidden;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px 10px;
    grid-template-areas: "option add-remove""objects objects ";
}

#selectObj>h3 {
    grid-area: option;
}

#selectObj>.add-remove {
    grid-area: add-remove;
}

#selectObj>#obstacleForm {
    grid-area: objects;
}

#modifiers>div.mod-active,
#modifiers>#selectObj.mod-active {
    visibility: visible;
    opacity: 1;
    grid-area: visible;
}

.cross {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 150px;
}

.cross>div:nth-child(5) {
    background-color: white;
}

#canvasSize>.cross>div:nth-child(5) {
    background-color: black;
}

.obj.add-remove {
    display: grid;
    grid-gap: 10px 0px;
}

#selectObj>.obj.add-remove>button {
    padding: 0;
    margin: 0;
}

#daedos-menu * button {
    border: none;
    background-color: rgb(var(--darkgrey));
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#modifiers * button {
    text-align: center;
    font-family: 'Press Start 2P';
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: .5;
}

#daedos-menu * button:hover {
    box-shadow: white 2px 2px;
}

button.active {
    background-color: rgb(var(--lightgrey));
    box-shadow: inset 2px 2px rgb(var(--darkgrey)), white 2px 2px;
    color: white;
}

#console>button {
    height: 45px;
    padding: 20px;
    cursor: pointer;
}


/* button.blinkingBackground {
    animation: blinkingBackground 6s infinite;
} */

#startButton {
    background-image: url(icons/play.png);
}

#pauseButton {
    background-image: url(icons/pause.png);
}

#menuButton {
    background-image: url(icons/menu.png);
}

#resetButton {
    background-image: url(icons/reset.png);
}

#shareButton {
    background-image: url(icons/share.png);
}


/* modifiers */

#selectObjButton {
    background-image: url(icons/obj.png);
}

#moveObjButton {
    background-image: url(icons/obj-pos.png);
}

#sizeObjButton {
    background-image: url(icons/obj-size.png);
}

#sizeCanvasButton {
    background-image: url(icons/canvas-size.png);
}


/* RADIO BUTTONS */

#obstacleForm {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

label.radio {
    background: rgb(var(--darkgrey));
    /* padding: 5px; */
}


/* .radio {
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    font-size: 2.25rem;
    color: rgb(var(--lightgrey));
    padding: 10px;
    width: min-content;
} */

.radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3em;
    font-size: 2rem;
    color: rgb(var(--lightgrey));
    padding: 10px;
    width: min-content;
}

.radio:focus-within .radio__label {
    /* transform: scale(1.05);*/
    opacity: 1;
}

.radio__label,
.radio__input {
    width: min-content;
}

.radio__label {
    line-height: 1;
    font-size: 1.5em;
    color: white;
    display: flex;
}

.radio__label_inner {
    display: flex;
    align-items: center;
}

.radio__input {
    display: flex;
    justify-content: end;
    align-items: center;
}

.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.radio__input input:focus+.radio__control {
    box-shadow: 0 0 0 0.05em white, 0 0 0.15em 0.1em white;
    box-shadow: none;
}

.radio-gradient input:checked+.radio__control,
.radio-before input:checked+.radio__control::before {
    background: radial-gradient(white, white 50%);
    /* background: none; */
    box-shadow: inset .5em .5em white;
}

.radio-before .radio__control {
    display: grid;
    place-items: center;
}

.radio-before input+.radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em white;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
}

.radio-before input:checked+.radio__control::before {
    transform: scale(1);
}


/*--------------------------------------------------------------------------------------------------------- */

.radio__label_inner__object {
    display: block;
    width: 30px;
    height: 30px;
}

.radio.radio-before.checked * .radio__label_inner__object {
    background-color: var(--selectedObjectColor)!important;
}


/*--------------------------------------------------------------------------------------------------------- */

.radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid white;
    /*transform: translateY(-0.05em);*/
}

@media (max-width: 650px) {
    #daedos-wrapper {
        width: auto;
    }
    #fixed {
        /* position: fixed; */
        position: relative;
        padding-top: 43px;
        display: flex;
        flex-direction: column;
    }
    #daedos-header {
        margin-top: 0;
    }
    h2#daedos-title {
        font-size: 30pt;
    }
    canvas {
        margin: 0px;
        max-width: 84vw;
        max-height: 60vh;
        align-self: center;
    }
}

#console {
    grid-gap: 15px;
}

#console>button {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}

#daedos-menu {
    transform: scale(.85);
}

.blink {
    animation: blinkingText 6s steps(1, end) infinite;
}

.blinkingBackground {
    animation: blinkingBackground 3s steps(1, end) infinite;
}

.blinkBoxshadow {
    animation: animatedBoxshadow 6s steps(1, end) infinite;
}

.blinkingBackgroundHeading {
    animation: blinkingBackgroundHeading 3s steps(1, end) infinite;
}

@keyframes blinkingBackground {
    0%,
    50%,
    100% {
        background-color: rgb(var(--darkgrey));
    }
    25%,
    75% {
        background-color: var(--lightgrey-light);
    }
}

@keyframes blinkingBackgroundHeading {
    0%,
    50%,
    100% {
        filter: invert(1);
    }
    25%,
    75% {
        filter: invert(0);
    }
}

@keyframes blinkingText {
    0%,
    50%,
    100% {
        color: white;
    }
    25%,
    75% {
        mix-blend-mode: difference;
        --darker: calc(rgb(var(--lightgrey)) - 10%);
        color: var(--darker);
    }
}

@keyframes blinker {
    0% {}
    49% {}
    60% {
        filter: brightness(.5);
    }
    99% {
        filter: brightness(.5);
    }
    100% {}
}

@keyframes animatedBoxshadow {
    0%,
    50%,
    100% {
        box-shadow: 0px 0px 0 5px darkred;
    }
    25%,
    75% {
        box-shadow: none;
    }
}